<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Sistema de Pacientes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'listar_pacientes' %}">Home</a></li>
            <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
            <li><a href="{% url 'listar_pacientes' %}">Listar Pacientes</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 JOSWEBSystems</p>
    </footer>
</body>
</html>
