{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<h2>Detalhes</h2>

<nav class="navbar">
    <ul class="nav-links">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'listar_pacientes' %}">Listar Pacientes</a></li>
        <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
    </ul>
</nav>

<td><strong>Nome do Paciente:</strong> {{ paciente.nome }}</td><p></p>
<td><strong>Sexo:</strong> {{ paciente.sexo }}</td><p></p>
<td><strong>Telefone:</strong> {{ paciente.telefone }}</td><p></p>
<td><strong>Data de Nasciemtno:</strong> {{ paciente.data_nascimento}}</td><p></p>
<td><strong>Email:</strong> {{ paciente.email }}</td><p></p>


<h3>Arquivos</h3>
<ul>
    {% for arquivo in arquivos %}
        <li class="btn">
            <a href="{{ arquivo.arquivo.url }}">{{ arquivo.arquivo.name }}</a>
            <a href="{% url 'excluir_arquivo' arquivo.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
<h4>Adicionar Arquivo</h4>
<form method="post" enctype="multipart/form-data" action="{% url 'upload_arquivo' paciente.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
