{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<h2>Detalhes</h2>

<nav class="navbar">
    <ul class="nav-links">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'listar_pacientes' %}">Listar Pacientes</a></li>
        <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
    </ul>
</nav>

<td><strong>Nome do Paciente:</strong> {{ paciente.nome }}</td><p></p>
<td><strong>Sexo:</strong> {{ paciente.sexo }}</td>
<td><strong>Data de Nasciemtno:</strong> {{ paciente.data_de_nascimento}}</td><p></p>
<td><strong>Estado Civil:</strong> {{ paciente.estado_Civil}}</td>
<td><strong>Escolaridade: </strong> {{ paciente.escolaridade}}</td><p></p>
<td><strong>Trabalha no momento: </strong>{{ paciente.traballha_no_momento}}</td>
<td><strong>Profissão: </strong>{{ paciente.profissão}}</td><p></p>
<td><strong>Filhos: </strong>{{ paciente.filhos}}</td>
<td><strong>Quantidade: </strong>{{ paciente.filhos_Quantidade }}</td>
<td><strong>Religião: </strong>{{ paciente.religião}}</td><p></p>
<td><strong>Usa medicamentos: </strong>{{ paciente.toma_Algum_Medicamento}}</td>
<td><strong>Qual?</strong>{{ paciente.qual_Medicamento}}</td><p></p>
<td><strong>Rede de apoio: </strong>{{ paciente.rede_de_apoio }}</td>
<td><strong>Contato de emergência: </strong> {{ paciente.contato_de_emergência }}</td><p></p>
<td><strong>Já fez psicoterapia antes: </strong> {{ paciente.atendimento}}</td>
<td><strong>Tipo, duração e motivo: </strong>{{ paciente.atendimento_Tipo_Tempo_Motivo }}</td><p></p>
<td><strong>Disponibilidade: </strong>{{ paciente.Disponibilidade }}</td>
<td><strong>Motivo e objetivo: </strong>{{ paciente.motivo_e_objetivo}}</td><p></p>
<h3>Informações Extras</h3><p></p>
<td><strong>Endereço: </strong>{{ paceinte.endereco}}</td><p></p>
<td><strong>CPF: </strong>{{ paciente.cpf}}</td>
<td><strong>E-mail: </strong>{{paciente.email}}</td><p></p>
<td><strong>Telefone:</strong> {{ paciente.telefone }}</td>

<h3>Arquivos</h3>
<ul>
    {% for arquivo in arquivos %}
        <li class="btn">
            <a class="upna" href="{{ arquivo.arquivo.url }}">{{ arquivo.arquivo.name }}</a>
            <a class="navbar" href="{% url 'excluir_arquivo' arquivo.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
<h4>Adicionar Arquivo</h4>
<form method="post" enctype="multipart/form-data" action="{% url 'upload_arquivo' paciente.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
<nav>
    <ul class="nav-links">
        <li><a href="{% url 'listar_pacientes' %}">Voltar</a></li>
    </ul>
</nav>