{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<p></p>
<img class="logo" src="{{ MEDIA_URL }}media/pacientes/Logo/Logo.png" alt="Logo" style="max-width: 20%; justify-content: center; height: auto;">
<body class="homepage">
    <nav>
        <ul class="nav-links">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'listar_pacientes' %}">Listar Pacientes</a></li>
        <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
        <form class="nav-links" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Sair</button>
        </form>
        
        </ul>
    </nav>
</body>
<h2>Lista de Pacientes</h2>

<div class="search-container">
    <form method="GET" action="{% url 'listar_pacientes' %}">
        <input type="text" name="search" placeholder="Buscar paciente..." class="search-input">
        <button type="submit" class="search-button">Buscar</button>
    </form>
</div>
<div class="table">
        {% for paciente in pacientes %}
            <ul>
                <li>{{ paciente.nome }}</li>
                <li><a href="{% url 'detalhes_paciente' paciente.id %}">Ver detalhes</a></li>
                <li><a href="{% url 'excluir_paciente' paciente.id %}">Excluir</a></li>
                <li><a href="{% url 'editar_paciente' paciente.id %}">Editar</a></li>
            </ul>
        {% empty %}
            <p class="empty-message">Nenhum paciente cadastrado.</p>
        {% endfor %}
</div>
<footer>
    <p>&copy; 2024 Todos os direitos Reservados Stephany Caroline</p>
</footer>