{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Título -->
    <h2>Upload de Arquivo para {{ paciente.nome }}</h2>

    <!-- Navegação Principal -->
<body class="homepage">
        <nav>
            <ul class="nav-links">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'listar_pacientes' %}">Listar Pacientes</a></li>
            <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
            </ul>
        </nav>
</body> 
<p></p>
    <!-- Formulário de Upload -->
    <form method="post" enctype="multipart/form-data" class="form-upload">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-upload">Enviar</button>
    </form>

    <!-- Link de Retorno -->
    <nav class="return-nav">
        <ul class="nav-links">
            <li><a href="{% url 'detalhes_paciente' paciente.id %}">Voltar</a></li>
        </ul>
    </nav>

</body>
</html>
