/* Paleta de cores */
:root {
    --primary-color: #d0a0b4;
    --secondary-color: #cc94b4;
    --accent-color: #8cacb4;
    --background-color: #f9f9f9;
    --text-color: #333;
    --light-grey: #e0e0e0;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Estilo do logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#logo {
    max-width: 20%;
    height: auto;
}

/* Estilo do cabeçalho */
h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Navegação */
nav {
    background-color: var(--accent-color);
    padding: 1rem;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: var(--primary-color);
}

/* Ícone de menu (hambúrguer) */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-content: space-between;
}

.menu-icon .bar {
    height: 5px;
    background-color: #333;
    width: 100%;
}

/* Esconder a navegação em telas pequenas e mostrar o ícone */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-links.show {
        display: flex;
    }
    .menu-icon {
        display: flex;
    }
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--light-grey);
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 20px;
}
