


/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h2 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

/* Menu de Navegação */
nav {
    background-color: #8cacb4;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #d0a0b4;
}

/* Tabela de Pacientes */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.table-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-links li {
    padding: 10px;
    background-color: #f9f9fb;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.table-links a {
    color: #8cacb4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.table-links a:hover {
    color: #cc94b4;
}

/* Mensagem de lista vazia */
li {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    margin-top: 30px;
}
